<p>This is the directives/cuarto view.</p>

<h1 ng-click="hola()">Slide {{campo.name}}
</h1>

    <div class="container-fluid">

    <form class="form" name="cuartoForm" id="cuartoForm">
        <div class="row">
            <!-- titulo-->
            <div class="row">
                <div class="col-xs-offset-1 col-xs-3">
                    <label for="nombre"> Titulo de la Pagina</label>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-offset-1 col-xs-4">
                    <input ng-model="cuartoActual.titulo" class="form-control" type="text" placeholder="Titulo (Opcional)">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    imagen1
                </div>
                <div class="col-xs-4">
                    imagen2
                </div>
                <div class="col-xs-4">
                    imagen3
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">

                    <input ng-model="cuartoActual.imagen1" class="form-control" type="text" placeholder="Titulo de Imagen">

                </div>
                <div class="col-xs-4">
                    <input ng-model="cuartoActual.imagen2" class="form-control" type="text" placeholder="Titulo de Imagen">
                </div>
                <div class="col-xs-4">
                    <input ng-model="cuartoActual.imagen3" class="form-control" type="text" placeholder="Titulo de Imagen">
                </div>
            </div>

        </div>









    </form>
</div>
