
@{
    ViewBag.Title = "CircleConsumers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CircleConsumers</h2>

@(Html.Kendo().MultiSelect()
          .Name("consumers")
          .DataTextField("fullname")
          .DataValueField("id")
          .Placeholder("Busque alumnos para agregar ...")
          .AutoBind(false)
          .Filter(FilterType.Contains)
          .DataSource(source =>
          {
              source.Custom()
             .ServerFiltering(true)
             .Type("aspnetmvc-ajax")
             .Transport(transport =>
             {
                 transport.Read("GetConsumers", "Head");
             })

             .Schema(schema =>
             {
                 schema.Data("Data")
                       .Total("Total");
             });
          })
)

<button class="k-button" id="get">Add consumers</button>

@(Html.Kendo().Grid<MLearningDB.consumer_by_circle>()
    .Name("consumersGrid")
    .Columns(columns =>
    {
        columns.Bound(c => c.id).HeaderTemplate("Id").Width(70);
        columns.Bound(c => c.fullname).HeaderTemplate("Nombre");//.Width(100);
        columns.Bound(c => c.email).HeaderTemplate("Email");//.Width(100);
        columns.Bound(c => c.username).HeaderTemplate("Usuario");
        columns.Command(command => { command.Destroy(); }).Width(100).HeaderTemplate("Acciones");

    })
        //.ToolBar(toolbar => toolbar.Create())
    .Pageable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)

        .Events(events => events.Error("error_handler"))
        .Model(model =>
        {
            model.Id(c => c.id);
            model.Field(c => c.id).Editable(false);
            model.Field(c => c.created_at).Editable(false);
            model.Field(c => c.updated_at).Editable(false);
        })
            .Read(read => read.Action("CircleConsumers_read", "Head"))
                .Destroy(update => update.Action("CircleConsumer_destroy", "Head"))
    )
)

<script>
    $(document).ready(function () {
        var consumers = $("#consumers").data("kendoMultiSelect");
        //var optional = $("#optional").data("kendoMultiSelect");

        var postData = {
            ids : consumers.value(),
            circleId : @(ViewBag.circleId)
            };

        $("#get").click(function () {
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddConsumers","Head")",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(postData),
                success: function (data) { //alert(data);
                    $('#consumersGrid').data('kendoGrid').dataSource.read();
                    consumers.value(null);
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        });
    });
</script>


